<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NoValue" value=""/>
    <add key="Wierd:KeyName" value=""/>
    <add key="Database" value="Connection String" />
    <add key="SiteId" value="123" />
    <add key="ApiUrl" value="www.myapi.com" />
  </appSettings>
</configuration>