<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NoValue" value="" />
    <add key="Wierd:KeyName" value="" />
    <add key="Database" value="Connection String" />
    <add key="SiteId" value="123" />
    <add key="ApiUrl" value="www.myapi.com" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>